{% extends "base.html" %}

{% block title %}博客 - 密码重置{% endblock %}

{% block page_content %}
    <div class="page-header">
        <h1>重置你的密码</h1>
    </div>
    <div class="col-md-4">
                {{ wtf.quick_form(form) }}
        </form>
    </div>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script>
        {#$(".form").submit(function () {#}
        {#    var formData = $("#email").val();#}
        {#    var can_submit = true;#}
        {##}
        {#    if (formData) {#}
        {#        $.ajax({#}
        {#            url: "{{ url_for('auth.check_email_response') }}",#}
        {#            type: "post",#}
        {#            data: JSON.stringify({"email": formData}),#}
        {#            dataType: "json",#}
        {#            contentType: "application/json;charset=utf-8",#}
        {#            async: false, //默认为true 异步#}
        {#            success: function (data) {#}
        {#                if (data.res !== 1) {#}
        {#                    $("#email").after("<p class=\"help-block\">" + data.errmsg + "</p>");#}
        {#                    can_submit = false;#}
        {#                }#}
        {#            }#}
        {#        });#}
        {##}
        {#    }#}
        {##}
        {#    return can_submit;#}
        {# })#}
    </script>
{% endblock %}
